<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="stylesheet.css" media="screen"/>
    <title>Document</title>
</head>
<body>
    <div class= "H">
        <h2> Seleccione el modo de juego <h2> 
    </div>
    <div class="container">  
        <form action="/ingresarNombre" method="get">
            <label for="quien">Elige con quien jugar:</label>
            <select name="quien" id="quien">
                <option name="persona">1 v 1 </option>
                <option name="CPU">1 v CPU</option>
            </select>
            <br><br>
            <label for="modo">Elige el modo de juego:</label>
            <select name="modo" id="modo">
                <option name="numeros">numeros</option>
                <option name="colores">colores</option>
            </select>
            <br><br>
            <label for="dificultad">Elige la dificultad:</label>
            <select name="dificultad" id="dificultad">
                <option name="Facil">Facil</option>
                <option name="Medio">Medio</option>
                <option name="Alto">Alto</option>
            </select>
            <br><br>
            <input type="submit" name="Enviar">
        </form>
    </div>
</body>

