<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="stylesheet.css" media="screen"/>
    <title>Document</title>
</head>
<body>
    <div class= "H">
        <h2> Seleccione el modo de juego <h2> 
    </div>
    <div class="container">  
        <form action ="/ingresarNombre" method="get">      
            <input type="submit" value="1 v 1">
        </form>
        <form action ="/ingresarNombre" method="get">      
            <input type="submit" value="1 v CPU">
        </form>
        <form action ="/ingresarNombre" method="get">      
            <input type="submit" value="1 v 1 Colores">
        </form>
    </div>
</body>

