<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="stylesheet.css" media="screen"/>
    <title>Document</title>
</head>

<body>
    <div class= "H">
        <h2> Registrar intento <h2> 
    </div>
    <div class="container">  
        <form action ="/resultadoIntento" method="get">
            Inteto: <input type="number"  name="clave"> <br>        
            <input type="submit" value="intento">
        </form>
    </div>
</body>
